*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* overflow: hidden; */
    /* font-size: 1.rem; */
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f8;

}
/* h1{
    margin-bottom: 100px;
} */
.container{
    display: flex;
    max-width: 90%;
    border-radius: 20px;
    overflow: hidden;
    /* width: auto; */
    /* margin-top: 30px; */
    height: 95%;
    /* background: #d3f3de; */
    /* background-color: #ecf0f3; */
    /* background: #9b4630; */
    box-shadow: -8px -8px 8px #feffff, 8px 8px 8px #161b1d2f;
}
.container header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    /* padding: 0 0 0 30px; */
    width: 100%;
    height: 25%;
    /* background:  #F5BD02 ; */
    /* background: #a68868; */
    /* background: #e3c39d; */
    background: #fdbf50;
    /* position: relative;
    top: 0; */
}
.container header .heading{
    /* position:absolute;
    right: 100px;
    bottom: 0; */
    font-size: 2rem;
}
.container header .heading #name{
    width: 300px;
    height: 45px;
    font-size: 30px;
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.container form .profile-pic{
    overflow: hidden;
    /* position: absolute;
    top:50px;
    left: 80px; */
    /* width: 1; */
    /* height: 90%; */
    /* justify-content: ; */
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.container form .profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid #ff7246;
    overflow: hidden;
    
}
.container form .profile-pic #dp-lable{
    /* width: 30%; */
    display: inline-block;
    /* background-color: #ecf0f3; */
    background: #ff7246;
    /* box-shadow: 5px 5px 6px #0d275023, -5px -5px 6px #ffffff; */
    box-shadow: 5px 5px 6px #0d275023, -5px -5px 6px #a68868;
    /* width: 100px; */
    padding: 5px;
    /* background: white; */
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
.container form .profile-pic #dp{
    display: none;
}

.container main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    /* background: red; */
}
.container main .side{
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    /* width: 50%; */
    gap: 20px;
    line-height: 2;
}
.container main .side1{
    color: white;
    align-items: center;
    width: 30%;
    /* height: 100%; */
    background: #071739;
    
    /* background: blue; */
}
.container main .side2{
    /* border-left: 1px solid  #535658; */
    /* border-left: 1px solid  #2a2c41; */
    height: 100%;
    background: #ecf0f3;
    /* padding: 0 20px; */
    width: 70%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    
    
}
.container main .side input , textarea {
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    color: #858686;
    outline: none;
}
label,i{
    cursor: pointer;
}
.hobbie input[type="checkbox"]{
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #ffffff;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    color: #858686;
    outline: none;

}
.hobbie input[type="checkbox"]:checked{
/* box-shadow: -4px -4px 4px #000000, 4px 4px 4px #ff7246; */
box-shadow: none;
}
.language input[type="checkbox"]:checked{
box-shadow: -4px -4px 4px #feffff, 4px 4px 4px #161b1d2f;
}
.input1{
    width: 100%;
    height: 70px;
    /* display: inline-block; */
}
#mail,#ph,#home,#site{
    height: 40px;
    /* display: flex; */
    /* flex-direction:row; */
    /* justify-content: space-around; */
    
    /* margin-top: 10px; */
}
.contact,.profile,.hobbie{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: ; */
}
.profile{
    width: 90%;
}
.subcontact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    /* background: red; */
}
.subcontact input{
    width: 80%;
    /* height: 500px; */
}

.side1 i{
    font-size: 20px;
    color: #ff7246;
    font-weight: bold;
}
.hobbie-option ,.option1,.option2,.option3,.option4{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* background: red; */
    /* column-gap: 22; */
    
}
.hobbie-option i{
    margin: 0 20px;
    /* display: inline-block; */
    /* width: 50px; */
    /* background: red; */
    
}
h3{
    color: #ff7246;
    font-weight: bolder;

}
.side2 .education label{
    text-transform: capitalize;
}

.side2 .education input{
    height: 30px;
}
.side2 .education label ,input{
    display: inline;
}
.marks{
    width: 100%;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
    display: flex;
}

